.App {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 50%;
}
.data {
  border-color: black;
  border: 1px;
  border-style: solid;
}

td {
  margin-top: 100px;
}
th {
  padding-bottom: 10px;
}

.newTask {
  margin: 1%;
}

.check {
  padding: 1px;
}

.col1 {
  width: 40%;
}
.col2 {
  width: 40%;
}
